
<div>
    <h2>Contact Form</h2>

    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
        <label for="name">Navn</label>
        <input type="text" formControlName="name" />
    
        <label for="email">E-post</label>
        <input type="text" formControlName="email" />

        <label for="telephone">Telefon</label>
        <input type="text" formControlName="telephone" />
        <button class="submit-button" (click)="submitContactForm">Legg til</button>
    </form>
</div>

<div>
    <h2>Adresse Bok</h2>
    <table style="width:50%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Rediger</th>
                <th>Slett</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of this.contacts; let i=index;">
                <td>{{contact.name}}</td>
                <td>{{contact.telephone}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <button (click)="onEditButtonClicked(i)">Rediger</button>
                </td>
                <td>
                    <button (click)="onDeleteButtonClicked(i)">Slett</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
