<div class="flex-wrapper">
    <div class="form-container">
        <h2 class="form-header">Contact Form</h2>
    
        <form class="contact-form" [formGroup]="contactForm" #form="ngForm" (ngSubmit)="submitContactForm()">
            <label for="name">Navn</label>
            <input class="form-input" type="text" formControlName="name" required/>
            <p 
                class="error-danger"
                *ngIf="(contactForm.get('name')?.dirty || contactForm.get('name')?.touched || form.submitted) && 
                        contactForm.get('name')?.hasError('required')">
                * Name is required
            </p>
        
            <label for="email">E-post</label>
            <input class="form-input" type="email" formControlName="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
            <p 
                class="error-danger" 
                *ngIf="(contactForm.get('email')?.dirty || contactForm.get('email')?.touched || form.submitted) && 
                        contactForm.get('email')?.hasError('required')">
                * Email is required
            </p>
            <p 
                class="error-danger" 
                *ngIf="(contactForm.get('email')?.dirty || contactForm.get('email')?.touched || form.submitted) && 
                        contactForm.get('email')?.hasError('pattern')">
                * Email is invalid
            </p>

            <label for="telephone">Telefon</label>
            <input class="form-input" type="tel" formControlName="telephone" required/>
            <p 
                class="error-danger"
                *ngIf="(contactForm.get('telephone')?.dirty || contactForm.get('telephone')?.touched || form.submitted) && 
                        contactForm.get('telephone')?.hasError('required')">
                * Telephone is required
            </p>

            <button class="submit-button" (click)="submitContactForm">{{ editButton ? 'Oppdater' : 'Legg til' }}</button>
        </form>
    </div>
    
    <div class="contact-table-container">
        <h2>Adresse Bok</h2>
        <table class="contact-table">
            <thead class="table-header">
                <tr>
                    <th>Name</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Rediger</th>
                    <th>Slett</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-body-row" *ngFor="let contact of this.contacts; let i=index;">
                    <td>{{contact.name}}</td>
                    <td>{{contact.telephone}}</td>
                    <td>{{contact.email}}</td>
                    <td class="icon-cell" (click)="onEditButtonClicked(i)">
                        <img src="/assets/svg/edit-icon.svg" alt="edit icon">
                    </td>
                    <td class="icon-cell" (click)="onDeleteButtonClicked(i)">
                        <img src="/assets/svg/trash-icon.svg" alt="trash can">
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>    
</div>